@import '_presets.scss';

.add-member-container {
  max-width: 500px;
  margin: auto;
  padding: 0 24px;

  .add-member-panel {
    max-width: 500px;
    overflow: visible;
    display: inline-block;
  }
}
