@import '_presets.scss';

.landing-container {
  max-width: 50em;
  margin: auto;
  padding: 0 24px;
  //text-align: center;
  //display: flex;
  //align-items: center;
  margin-top: 5em;

  .landing-header {
    text-align: left;
    display: inline-block;
    width: 50%;
    float: left;

    .landing-title {
      font-size: 4em;
      margin: 8px 0;
    }

    .landing-info {
      margin: 1em 0;
    }
  }

  .login-container {
    width: 50%;
    float: right;
  }
}
