@import '_presets.scss';

.landing-container {
  max-width: 100%;
  margin: auto;
  padding: 0 24px;

  .landing-header {
    text-align: center;

    .landing-title {
      font-size: 4em;
      margin: 8px 0;
    }

    .landing-info {
      margin: 1em 0;
    }
  }
}
