@import '_presets.scss';

.manage-services-panel {
  padding: 0;
  border-color: $gray-3;

  .list {
    margin: 0;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: 2px solid $gray-2;
  }

  .add-service-panel {
    box-shadow: none;
    margin: 0;
    border: none;

    .panel-title {
      font-size: 1.5em;
    }

    .combobox-wrapper {
      margin-bottom: 0.8rem;
    }

    .form-button {
      margin: 0;
    }
  }
}
