.reports-container {
  .tab-bar {
    margin-bottom: 1.5em;
  }

  h2 {
    margin-bottom: 0.6em;
  }

  .picker {
    margin-bottom: 2.5em;
  }

  .list-body {
    padding: 1em;
    .list-row {
      padding: 0.4em 0.5em;

      .list-row-main-text {
        font-size: 1.125em;
        font-weight: bold;
        display: inline-block;
        border-bottom: 1px solid $gray-4;
      }

      .list-row-secondary-text {
        margin-top: 0.3em;
        font-size: 1em;
      }
    }
  }
}
