@import '_presets.scss';

.view-all-container {
  .profile-section-header {
    display: flex;

    .profile-section-title-and-description {
      flex-grow: 2;

      .profile-section-title {
        margin-bottom: 0.5em;
      }
    }

    .profile-section-button {
      flex-shrink: 1;
    }
  }

  h5 {
    font-size: 0.75em;
    text-transform: uppercase;
    color: $gray-4;
    margin-top: 0.5em;
  }
}
