@import '_presets.scss';

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $gray-2;
  text-align: center;
  color: $gray-2;

  li {
    display: inline;
    list-style: none;

    .footer-link {
      padding: 24px;
      font-size: 14px;
    }
  }
}
