@import './_presets.scss';

.button {
  display: inline-block;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: inherit;

  &.small {
    padding: 4px 12px;
    font-size: 14px;
  }

  &.medium {
    padding: 10px 20px;
    font-size: 16px;
  }

  &.large {
    padding: 18px 30px;
    font-size: 18px;
  }

  &.primary {
    background-color: $button-primary;
    border-color: $button-primary;
    color: #fff;

    &:hover {
      background-color: $button-primary-hover;
      border-color: $button-primary-hover;
    }

    &:active {
      background-color: $button-primary-active;
      border-color: $button-primary-active;
    }
  }

  &.secondary {
    border-color: $button-primary;
    color: $button-primary;
    background-color: transparent;

    &:hover {
      background-color: $button-primary;
      color: #fff;
    }

    &:active {
      border-color: $button-primary-active;
      color: #fff;
      background-color: $button-primary-active;
    }
  }

  &:disabled {
    background-color: white;
    border-color: $gray-2;
    color: $gray-3;

    &:hover {
      background-color: white;
      border-color: $gray-2;
      color: $gray-3;
      cursor: default;
    }
  }

  &.tertiary {
    border-color: transparent;
    color: $button-primary;
    background-color: transparent;

    &:hover {
      color: $button-primary-hover;
    }

    &:active {
      color: $button-primary-active;
    }

    &:disabled {
      color: $gray-3;

      &:hover {
        color: $gray-3;
        cursor: default;
        border-color: transparent;
      }
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3pt $blue-outline;
  }

  &.form-button {
    float: right;
    margin-top: 20px;
  }

  .button-icon {
    font-size: inherit;
    margin-right: 0.5em;
    margin-top: -3px;
  }

  &.delete-button {
    text-align: right;
    background-color: $orange-1;
    border-color: $orange-2;
    transition: box-shadow ease-in-out 0.12s;

    &:hover {
      background-color: $orange-2;
      border-color: $orange-2;
    }

    &:active {
      background-color: $orange-1;
      border-color: $orange-2;
    }
  }
}
