.combobox-wrapper {
  margin-bottom: 1.5rem;
  position: relative;
  display: inline-block;

  .field-wrapper {
    margin-bottom: 0;
  }

  .combobox-content {
    position: absolute;
    border: 1px solid $gray-2;
    border-radius: $border-radius-default;
    background-color: #fff;
    width: 100%;
    max-height: 40vh;
    overflow-y: auto;
    z-index: 1;
    overflow-wrap: break-word;

    -webkit-box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);
    -moz-box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);
    box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);

    .combobox-row {
      display: block;
      text-align: left;
      border: none;
      box-shadow: none;
      text-decoration: none;
      -webkit-appearance: none;
      width: 100%;
      padding: 0.3em 0.6em;
      //   border: 1px solid transparent;
      background-color: transparent;
      cursor: pointer;
      background-color: $gray-1;
      font-size: 1em;

      &:hover {
        background-color: #1e90ff;
        color: #fff;
      }

      &:active {
        background-color: #1e90ff;
        color: #fff;
      }

      &:focus {
        outline: none;
        color: #fff;
        background-color: #1e90ff;
      }
    }
  }
}
