@import '_presets.scss';

.datagrid {
  padding: 0;
  border: 1px solid $gray-2;
  overflow-x: scroll;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      color: $gray-5;
      // border-bottom: 1px $gray-3 solid;
      text-transform: uppercase;
      font-size: 0.8em;
      background-color: $gray-1;

      tr {
        th {
          font-weight: bold;
          padding: 1em 0;
          text-align: left;

          &:first-child {
            padding-left: 2vw;
            border-top-left-radius: $border-radius-default;
          }

          &:last-child {
            padding-right: 2vw;
            border-top-right-radius: $border-radius-default;
          }
        }
      }
    }

    tbody {
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;

      tr {
        height: 3em;
        cursor: pointer;

        &:hover {
          border-top: 1px solid $gray-2;
          border-bottom: 1px solid $gray-2;

          -webkit-box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);
          -moz-box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);
          box-shadow: 0px 0px 52px -9px rgba(194, 194, 194, 0.8);

          &:last-child {
            border-bottom: none;
          }
        }

        td {
          &:first-child {
            padding-left: 2vw;
            overflow-wrap: break-word;
            max-width: 10em;
          }

          &:last-child {
            padding-right: 2vw;
          }
        }
      }
    }
  }
}
