@import './_presets.scss';

.field-wrapper {
  position: relative;
  margin-bottom: 1.5rem;

  .field-label {
    font-size: 13px;
    font-weight: bold;
    color: $gray-6;
    display: inline-block;
    margin: 0.4em 0;
    text-transform: uppercase;
  }

  .field-error-label {
    color: $red-2;
    font-size: 12px;
    position: absolute;
    bottom: -1.5em;
  }

  .field-outer {
    display: flex;

    .field {
      flex-grow: 1;
      border: 1px solid $gray-2;
      border-radius: $border-radius-default;
      box-shadow: none;
      -webkit-appearance: none;
      background-color: transparent;

      &::placeholder {
        color: $gray-4;
      }

      &:focus {
        outline: 0;
        border-color: $button-primary;
        background-color: $gray-1;
      }

      &.normal {
        padding: 10px;
        font-size: 16px;
      }

      &.large {
        padding: 15px;
        font-size: 18px;
      }

      &.field-error-border {
        border-color: $red-1;
      }
    }
  }

  &.inline-field {
    @media screen and (min-width: $mobile) {
      display: inline-block;
      width: 50%;

      .first-side-by-side-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .second-side-by-side-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
