.multi-checkbox {
  .field-label {
    display: block;
  }

  .multi-checkbox-content {
    padding: 0 1em;
    .multi-checkbox-item {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      padding: 0 1%;
      // min-width: 5em;
    }
  }
}
