.select {
  .field-outer {
    .select-inner {
      display: inline-block;
      position: relative;

      .field {
        flex-grow: 0;
        padding-right: 1.6em;

        &.medium-width {
          min-width: 4em;
        }
      }

      .select-icon {
        position: absolute;
        right: 0.1em;
        top: 20%;
        color: $gray-4;
      }

      &:hover {
        .select-icon {
          color: $gray-6;
        }
      }
    }
  }
}
