$button-primary: #414ae8;
$button-primary-hover: #4752ff;
$button-primary-active: #3038ad;

$blue-outline: #a5c7ff;
$blue-dropdown: #1e90ff;

$blue-light: #f1f8ff;
$blue-light-border: #c8e1ff;

// grays from light to dark
$gray-0: #f9fbff;
$gray-1: #f2f4f7;
$gray-2: #e1e6ed;
$gray-3: #cbcfd6;
$gray-4: #a5a9af;
$gray-5: #83878c;
$gray-6: #616468;
$gray-7: #333538;
$gray-8: #1d1e21;

// border
$border-radius-default: 4px;

$green-1: #3bff2a;
$green-2: #1be836;
$green-3: #0cb723;

$red-1: #ff796d;
$red-2: #e8330c;

$orange-1: #ff810d;
$orange-2: #ff5a19;

// mobile styling width
$mobile: 40em;
