// other
@import 'misc.scss';

//layout
@import 'layout/header.scss';
@import 'layout/footer.scss';

// ui
@import 'ui/buttons.scss';
@import 'ui/dropdown.scss';
@import 'ui/links.scss';
@import 'ui/field.scss';
@import 'ui/searchField.scss';
@import 'ui/panel.scss';
@import 'ui/datagrid.scss';
@import 'ui/list.scss';
@import 'ui/viewByDate.scss';
@import 'ui/loading.scss';
@import 'ui/select.scss';
@import 'ui/picker.scss';
@import 'ui/combobox.scss';
@import 'ui/dynamicForm.scss';
@import 'ui/checkbox.scss';
@import 'ui/multiCheckbox.scss';
@import 'ui/radio.scss';
@import 'ui/tabs.scss';
@import 'ui/modals.scss';

// pages
@import 'pages/login.scss';
@import 'pages/landing.scss';
@import 'pages/dashboard.scss';
@import 'pages/manageServices.scss';
@import 'pages/memberCheckIn.scss';
@import 'pages/reports.scss';

// global styles
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 51px;
  position: relative;
  overflow: hidden;
}

i {
  vertical-align: middle;
}

hr {
  border: 1px solid $gray-2;
  margin: 1em 0;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}
