@import "./palette.scss";

.field {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: $gray-2;

  &::placeholder {
    color: $gray-4;
  }

  &:focus {
    outline: 0;
    border-color: $button-primary;
    background-color: $gray-1;
  }

  &.normal {
    padding: 5px 0px 5px 5px;
    font-size: 14px;
  }

  &.large {
    padding: 8px 0px 8px 5px;
    font-size: 16px;
  }
}
