.side-by-side {
  display: inline-block;
  width: 100%;

  > * {
    &:first-child {
      float: left;
    }

    &:nth-child(2) {
      float: right;
    }
  }
}

.material-icons {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.page-container {
  max-width: 50em;
  margin: auto;
  width: 95%;

  .page-header {
    width: 100%;
    margin-top: 1rem;
    min-height: 3em;

    // This is a clearfix hack, which makes it so floated elements
    // appear inside parent div
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    h1 {
      float: left;
    }

    .button-list {
      float: right;

      & > a,
      & > button {
        margin-left: 0.5em;
        margin-top: 0.25em;
      }
    }
  }
}
