$button-primary: #FA5672;
$button-primary-hover: #FA87B1;
$button-primary-active: #FAC4E2;

// grays from light to dark
$gray-1: #f2f4f7;
$gray-2: #dee2e8;
$gray-3: #cbcfd6;
$gray-4: #a5a9af;
$gray-5: #83878c;
$gray-6: #616468;
$gray-7: #333538;
$gray-8: #1d1e21;
